<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>

                    <div class="card-body">
                        <div class="form-group">
                            <label for="nickname">Nickname</label>
                            <input type="text" class="form-control" v-model="nickname" id="nickname">


                            <label for="password">Password</label>
                            <input type="password" class="form-control" v-model="password" id="password">
                        </div>

                        <button @click="login" class="btn btn-success">Login</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data()
        {
            return {
                nickname: '',
                password: ''
            }
        },

        mounted() {

        },

        methods:
        {
          login: function()
          {
              axios.post('login', {
                  nickname: this.nickname,
                  password: this.password
              }).then(function (response)
                      {
                          window.location.replace('chats');
                      })
                      .catch(function (error)
                      {
                          alert(error);
                      });
          }
        }
    }
</script>
