<template>
    <div>
        <h3>Сообщения</h3>

        <form method="post">
            <div class="form-group">
                <label for="message"></label>
                <textarea v-model="new_message" name="message" id="message" cols="2" rows="3" class="form-control"></textarea>
            </div>
            <button type="button" @click="sendMessage" class="btn btn-primary">Submit</button>
        </form>
        <br>

        <ul class="list-group">
            <li v-for="message in messages" class="list-group-item">
                <span class="badge badge-info">{{ message.owner.nickname }}</span> {{ message.body  }}
                <button style="position: absolute; right: 10px; top: 15px" @click="toogleLike" class="btn badge badge-danger" :data-toggle-like="message.id">&#10084; {{ message.likes_count }}</button>
            </li>
        </ul>


    </div>
</template>

<script>
    export default {

        props: ["chat"],

        data()
        {
            return {
                messages: [],
                new_message: ''
            }
        },

        mounted()
        {
            this.listenChatMessages();
            this.listenChatMessageLiked();
            this.listenChatMessageDisliked();
        },

        created()
        {
            this.chatMessages();
        },

        methods:
        {
            listenChatMessages: function()
            {
                let self = this;
                Echo.private('chat_message.' + this.parseChat().id)
                    .listen('ChatMessageWasRecieved', (e) =>
                    {
                            self.messages.unshift(e.message);
                    });
            },

            listenChatMessageLiked: function()
            {
                let self = this;

                Echo.private('message_liked')
                    .listen('MessageWasLiked', (e) =>
                    {
                        self.messages.find(function(elem){
                            return elem.id == e.message.id;
                        }).likes_count++;

                        $.notify(e.like.owner.nickname + " понравилось сообщение `" + e.message.body +"`", 'info');

                    });
            },

            listenChatMessageDisliked: function()
            {
                let self = this;

                Echo.private('message_disliked')
                    .listen('MessageWasDisliked', (e) =>
                    {
                        self.messages.find(function(elem){
                            return elem.id == e.message.id;
                        }).likes_count--;

                    });
            },

            findMessageByID: function(messageID)
            {
                let selfMessage = this.messages.find(function(e) {
                    return messageID == e.id
                });

                return selfMessage;
            },

            toogleLike: function(e)
            {
                let messageID = $(e.target).data('toggle-like');

                console.log(messageID);

                let self = this;

                axios.post('/messages/' + messageID + '/like')
                        .catch(function (error)
                        {
                            alert(error);
                        });
            },

            sendMessage: function ()
            {
                let chat = this.parseChat();

                let vue = this;

                axios.post('/chats/' + chat.id + '/messages',
                        {
                            message: this.new_message
                        })
                        .then(function (response)
                        {
                            vue.new_message = '';
                        })
                        .catch(function (error)
                        {
                            alert(error);
                        });


            },

            parseChat: function()
            {
                return JSON.parse(this.chat);
            },


            chatMessages: function()
            {
                let chat = this.parseChat();

                axios.get('/chats/' + chat.id + '/messages')
                    .then(responce => {
                        this.messages = responce.data.reverse();
                });
            },
        }
    }



</script>
