<template>
    <div class="row">
        <div class="col">
            <h3>В сети</h3> <br>
            <ul class="list-group">
                <li class="list-group-item" v-for="user in users">{{ user.nickname }}</li>
            </ul>
        </div>
    </div>


</template>

<script>
    export default {

        data()
        {
            return {
                users: []
            }
        },

        mounted()
        {
            let self = this;

            Echo.private('user_loggedin')
                    .listen('UserLoggedin', (e) =>
            {
                self.users.push(e.user)
            });


            window.Echo.private('user_loggedout')
                .listen('UserLoggedout', (response) =>
                {
                    self.users = self.users.filter(function(e) {
                        return response.user.id !== e.id
                    });
                });

            console.log(this.users);
        },

        created()
        {
            this.onlineUsers();
        },

        methods:
        {
            onlineUsers: function()
            {
                let self = this;

                axios.get('/users/online')
                        .then(function(e)
                        {
                            self.users = e.data;
                        })
                        .catch(function (error)
                        {
                            alert(error);
                        });
            }
        }
    }
</script>